{{> head }} 
{{> navbar }}
<div class="container">


<div class="row">
    <diw class="col-8">
        <h1>Nosotros</h1>
    </diw>
    <div class="col-4">
        <img src="assets/imgs/yoshi2.png" class="img-thumbnail">
    </div>
</div>
</div>
{{> footer }}